h1{

    font-size:40px;

    font-weight:700;

    margin:0;
}

h2{

    font-size:30px;

    margin:0;
}

h3{

    font-size:22px;

    margin:0;
}

p{

    color:var(--text-secondary);

    line-height:1.6;
}

small{

    font-size:13px;
}